<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate @users, previous_label: '&lt 前', next_label: '次 &gt', class: "pull-left" %>
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
        </tr>
      </thead>
      
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user.name, user %>
            <% if user.admin? %>
              <span class="label label-primary">管理者</span>
            <% else %>
              <span class="label label-success">一般</span>
            <% end %>
          </td>
          <td>
            <% unless user.admin? %>
              <%= link_to "削除", user, method: :delete,
              data: { confirm: "#{user.name}を削除します。よろしいですか？" },
              class: "btn btn-sm btn-danger pull-right" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <%= will_paginate @users, previous_label: '&lt 前', next_label: '次 &gt', class: "pull-left" %>
</div>