<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="tasks-title"><%= current_user.name %>のタスク一覧</h1>
    <div class="new_task_button">
      <%= link_to "タスク新規作成", '#', class: "btn btn-lg btn-primary" %>
    </div>
    <div class="col-md-11 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <th>名称</th>
          <th>作成日</th>
        </thead>
        
        <tbody>
          <% @tasks.each do |task| %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.created_at %></td>
            <td><%= link_to "編集", '#', class: "btn btn-md btn-success" %></td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>

</div>